# mkdir /opt/ffmpeg-gui
# cp ffmpeg-gui icons8-ffmpeg-96.png /opt/ffmpeg-gui
# cp ffmpeg-gui.desktop /usr/share/applications/ffmpeg-gui.desktop
[Desktop Entry]
Name=ffmpeg-gui
Comment=ffmpeg-gui
Exec=/opt/ffmpeg-gui/ffmpeg-gui
Icon=/opt/ffmpeg-gui/icons8-ffmpeg-96.png
Terminal=false
Type=Application
Categories=Utility;Application;
